<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title 1</title>
</head>
<body>
<a href="/Myapp/viewprofile/">judge profile</a><br>
<a href="/Myapp/viewallocatedprogramcandidate">viewallocatedprogramcandidate</a><br>
<a href="/Myapp/jViewprogramshedule">viewprogramshedule</a><br>
{#<a href="/Myapp/Editcandidateprogram/">Editcandidateprogram</a><br>#}
{#<a href="/Myapp/tviewprogram">viewprogram</a><br>#}
<a href="/Myapp/jchangepassword">changepassword </a><br>
{#<a href="/Myapp/jviewcomplaint/">viewcomplaint </a><br>#}
{#<a href="/Myapp/viewteammember">viewteammember </a><br>#}
<a href="/Myapp/jsendcomplaint">Sendcomplaint </a><br>
<a href="/Myapp/jsendfeedback">Sendfeedback </a><br>
<a href="/Myapp/jprograms">program result </a><br>
<a href="/Myapp/jgroup_result"> result </a><br>
<a href="/Myapp/jsendfeedback">Sendfeedback </a><br>
</body>
</html>