<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'JUDGES 3/judgeindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="486" border="1">
    <tr>
        <td>SI no</td>
      <td width="96">Program</td>
      <td width="63">Date</td>
      <td width="76">From time</td>
      <td width="88">To time </td>
      <td width="129">Stage</td>
    </tr>
      {% for i in data %}

    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.PROGRAM.programname }}</td>
      <td>{{ i.date }}&nbsp;</td>
      <td>&nbsp;{{ i.fromtime }}</td>
      <td>&nbsp;{{ i.totime }}</td>
        <td>&nbsp;{{ i.stage }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}

</html>
