<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title 1</title>
</head>
<body>
<a href="/Myapp/profilegroupleader/">profilegroupleader</a><br>
<a href="/Myapp/registercandidate">registercandidate</a><br>
<a href="/Myapp/viewcandidateprogram">viewcandidateprogram</a><br>
{#<a href="/Myapp/Editcandidateprogram/">Editcandidateprogram</a><br>#}
<a href="/Myapp/jViewprogramshedule">viewprogram</a><br>
<a href="/Myapp/lchangepassword">changepassword </a><br>
<a href="/Myapp/lviewcomplaint/">viewcomplaint </a><br>
{#<a href="/Myapp/viewteammember">viewteammember </a><br>#}
<a href="/Myapp/lSendcomplaint">Sendcomplaint </a><br>
<a href="/Myapp/lSendfeedback">Sendfeedback </a><br>
<a href="/Myapp/lprograms">program result </a><br>
<a href="/Myapp/lgroup_result">view result</a><br>
</body>
</html>