<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/Myapp/editprogram_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table width="200" border="1">
    <tr>
        <input type="hidden" name="id" value="{{ data.id }}">
      <td>Program name</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.programname }}"class="form-control"/></td>
    </tr>
    <tr>
      <td>Program type</td>
      <td>
        <input type="text" name="textfield2" id="textfield2" value="{{ data.programtype }}" class="form-control"/></td>
    </tr>
    <tr>
      <td>IS Group item</td>
      <td>
        <input type="text" name="textfield3" id="textfield3"value="{{ data.groupprogram }}"class="form-control" />
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td><textarea name="textarea"  value="" cols="45" rows="5" class="form-control">{{ data.description }}</textarea></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Add" id="Add" value="Add" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
