<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/Myapp/editprogramshedule_post/">
{% csrf_token %}
  <table width="324" border="1">
    <tr>
        <input type="hidden" name="id" value="{{ data.id }}">
      <td>program</td>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" value="{{ data.PROGRAM.email }}"class="form-control"  /></td>
    </tr>
    <tr>
      <td>date</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.email }}" class="form-control"/></td>
    </tr>
    <tr>
      <td>from</td>
      <td><label for="textfield2"></label>
          <input type="text" name="textfield2" id="textfield2"  value="{{ data.fromtime.email }}"class="form-control"/></td>
    </tr>
    <tr>
      <td>to</td>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.totime.email }}" class="form-control"/></td>
    </tr>
    <tr>
      <td>stage</td>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" value="{{ data.stage.email }}" class="form-control"/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="submit" id="submit" value="edit" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
