<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/Myapp/admin_change_password/">change password</a><br>
<a href="/Myapp/groupadd">Add group</a><br>
<a href="/Myapp/groupview">View group</a><br>
{#<a href="/Myapp/editgroup">edit group</a><br>#}
<a href="/Myapp/groupleaderadd">add group leaders</a><br>
<a href="/Myapp/viewgroupleader"> view group leaders</a><br>
{#<a href="/Myapp/editgroupleader"> edit group leaders</a><br>#}
<a href="/Myapp/addjudges">add judges</a><br>
<a href="/Myapp/viewjudges">view judges</a><br>
{#<a href="/Myapp/editjudges">edit judges</a><br>#}
<a href="/Myapp/addprogram">add programs</a><br>
<a href="/Myapp/viewprogram">view programs</a><br>
{#<a href="/Myapp/editprogram">edit programs</a><br>#}
<a href="/Myapp/rulesregulation">program rules& regulations</a><br>
<a href="/Myapp/viewrules">view rules</a><br>
{#<a href="/Myapp/editrules">edit rules</a><br>#}
<a href="/Myapp/addprogramshedule">add program shedule</a><br>
<a href="/Myapp/viewprogramshedule">view program shedule </a><br>
{#<a href="/Myapp/editprogramshedule">edit program shedule</a><br>#}
<a href="/Myapp/prgmjudgeallocation">program judge allocation</a><br>
<a href="/Myapp/viewprgmjudgeallocation">view judge allocation</a><br>
{#<a href="/Myapp/editprgmjudgeallocation">edit judge allocation</a><br>#}
<a href="/Myapp/programs">view candidate result</a><br>
<a href="/Myapp/group_result">view result</a><br>
<a href="/Myapp/awards">publish award</a><br>
<a href="/Myapp/viewfeedback">view feedback</a><br>
<a href="/Myapp/viewcomplaints">view complaint</a><br>
{#<a href="/Myapp/sendreply">send replay</a><br>#}
</body>
</html>