{% extends "adminhomeindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Myapp/viewprogramshedule_post/">
{% csrf_token %}

    <tr>
      <td>search program </td>
      <td>from</td>
      <td><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield" /></td>
      <td>to</td>
      <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2"class="form-control" /></td>
      <td><input type="submit" name="button" id="button" value="search" class="btn btn-success" /></td>
    </tr>
  <table  class="table table-bordered table-hover mb-3 mt-3">
    <tr>
      <td>SLNO</td>
      <td>program</td>
      <td>date</td>
      <td>from time</td>
      <td>to time</td>
      <td>stage</td>
        <td></td>
        <td></td>
    </tr>
     {% for i in data %}
  <tr>
       <tr>
      <td>{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.PROGRAM }}</td>
      <td>{{ i.date }}</td>
      <td>&nbsp;{{ i.fromtime }}</td>
      <td>&nbsp;{{ i.totime }}</td>
      <td>&nbsp;{{ i.stage }}</td>
       <td><a href="/Myapp/editprogramshedule/{{ i.id }}" class="btn btn-info">Edit</a></td>
      <td><a href="/Myapp/delate_shedule/{{ i.id }}" onclick="return confirm('Are you sure')" class="btn btn-danger" >Delete</a></td>
    </tr>
      {% endfor %}
  </tr>
  </table>
</form>
{% endblock %}
