<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title 1</title>
</head>
<body>
<a href="/Myapp/Viewcandidateprofile/">profile</a><br>
<a href="/Myapp/Cchangepassword">changepassword</a><br>
<a href="/Myapp/CViewprogramshedule">viewprogramshedule</a><br>
{#<a href="/Myapp/Editcandidateprogram/">Editcandidateprogram</a><br>#}
<a href="/Myapp/cviewonallocation/">your own  program </a><br>
{#<a href="/Myapp/jchangepassword">changepassword </a><br>#}
{#<a href="/Myapp/jviewcomplaint/">viewcomplaint </a><br>#}
{#<a href="/Myapp/viewteammember">viewteammember </a><br>#}
<a href="/Myapp/csendcomplaint">Sendcomplaint </a><br>
<a href="/Myapp/csendfeedback">Sendfeedback </a><br>
<a href="/Myapp/cviewcomplaint">viewcomplaint</a><br>
</body>
</html>